<div class="container pt-5 position-relative">
  <div class="carousel  mt-5">
    <div><img src="images/banner1.png" alt=""></div>
    <div><img src="images/banner2.png" alt=""></div>
    <div><img src="images/banner3.png" alt=""></div>
  </div>

  <div class="row  wow animate__animated animate__backInUp ">
    <h2 class="text-center mb-5 mt-5">Ответы на часто задаваемые вопросы</h2>
    <div ngbAccordion [closeOthers]="true" class="custom-accordion">
      @for (item of items; track item.title) {
        <div ngbAccordionItem class="bg-primary rounded-3 text-light ">
          <h2 ngbAccordionHeader >
            <button ngbAccordionButton >
              {{ item.title }}
            </button>
          </h2>

          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                {{ item.body }}
              </ng-template>
            </div>
          </div>
        </div>
      }
    </div>

  </div>

  <div *ngIf="openShowCatalogPopup" class="modal modal-sheet position-absolute d-block p-4 py-md-5"
       tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5">Посмотрите наши чайные коллекции</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  (click)="openShowCatalogPopup= false"></button>
        </div>
        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
          <button type="button" class="btn btn-lg btn-primary" (click)="openCatalog()">
            Смотреть
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
