<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid px-1">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" [routerLink]="''">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" [routerLink]="'/catalog'">Каталог</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Search" #searchInput (input)="onSearchInput(searchInput.value)">
        <button class="btn btn-outline-success" type="button" (click)="searchProduct(searchInput.value)">Найти</button>
      </form>
    </div>
  </div>
</nav>
